.todo-container{
    display: flex;
    justify-content: space-between;
    .column-1{
        background-color: aqua;
    }

    div{
        border: 1px solid lightgrey;
        border-radius: 5px;
        padding: 8px;
        margin-bottom: 8px;
        width: 30%;
        
        

        .task-list{
            width: 100%;
            
            .task{
                width: 100%;
                background-color: white;
                display: flex;
                justify-content: space-between;
                align-items: center;

                .icon_trash{
                    color:#e74c3c;
                }
            }
        }
    }
}